@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
  font-family: "Inconsolata", monospace;
  background-color: #e6e6e6;
}

.basket .MuiSvgIcon-root {
  /* I wanted to change the color of the 
  heart icon in the component BasketHeartIcon. 
  --
  I could have used the material ui class MuiSvgIcon-root. 
  This class is the material ui class for all the material ui icons. 
  But then all the icons would get affected.
  --
  So i gave the whole component the class 'basket'.
  Then i targeted heart icon via the class MuiSvgIcon-root. 
  -- 
  Via this method, i was able to exactly target this icon 
  without changing the style of the othermaterial ui icons. */
  color: white;
}

/* SIDEBAR */

#page-wrap {
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: darkblue;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 20px;
  /* background-color: transparent; */
}

@media (max-width: 500px) {
  .bm-burger-button {
    width: 20px;
    height: 20px;
    left: 7px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: black;
  /* color: white; */
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
/* .bm-cross { */
/* background: black; */
/* } */

/* General sidebar styles */
.bm-menu {
  background: rgb(240, 240, 240);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
